[submodule "neofuuka-scraper"]
	path = neofuuka-scraper
	url = git@github.com:oka-tan/neofuuka-scraper.git
[submodule "FoolFuuka"]
	path = FoolFuuka
	url = git@github.com:oka-tan/FoolFuuka.git
[submodule "ayase"]
	path = ayase
	url = git@github.com:oka-tan/ayase.git
