version: "3.9"

volumes:
  mysql:
  sphinx:
  foolframe-temp:
  foolfuuka-temp:
  foolframe-conf:
  foolfuuka-conf:
  foolframe-logs:

services:
  fuuka:
    build: ./FoolFuuka
    command: php-fpm -R
    volumes:
      - ./www.conf:/usr/local/etc/php-fpm.d/www.conf
      - foolframe-temp:/var/www/fuuka/public/foolframe/foolz
      - foolfuuka-temp:/var/www/fuuka/public/foolfuuka/foolz
      - foolfuuka-conf:/var/www/fuuka/app/foolz/foolfuuka/config
      - foolframe-conf:/var/www/fuuka/app/foolz/foolframe/config
      - foolframe-logs:/var/www/fuuka/app/foolz/foolframe/logs
    deploy:
      replicas: 0

  neofuuka:
    build: ./neofuuka-scraper
    deploy:
      replicas: 0

  ayase:
    image: python:3.9
    ports:
      - "8000:8000"
    volumes:
      - ./ayase:/ayase
    working_dir: /ayase
    command: bash -c "pip install -r requirements.txt && cd ayase && uvicorn view.asagi:app --host 0.0.0.0 --reload"
    deploy:
      replicas: 1

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./FoolFuuka/public:/var/www/fuuka/public
      - foolframe-temp:/var/www/fuuka/public/foolframe/foolz
      - foolfuuka-temp:/var/www/fuuka/public/foolfuuka/foolz
    ports:
      - "80:80"

  mysql:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=123
      - MYSQL_USER=asagi
      - MYSQL_PASSWORD=123
      - MYSQL_DATABASE=asagi
    volumes:
      - mysql:/var/lib/mysql

